<div class="container my-3 mb-5">
    <div class="row">
        <div class="col-2 pr-0">
        </div>
        <div class="col-sm-12 col-md-8 ">
            <div class="form-row">
                <div class="col-sm-11 pr-0">
                    <input type="text" name="buscador" class=" form-control buscador" [(ngModel)]="clienteB.nombre" placeholder="Buscar cliente..." (keyup)="consultarLike()">
                </div>
                <div class="col-sm-1 pl-0 ocultar">
                    <button class="btn p-1 btn-buscador" (click)="consultarLike()">
                         <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                             <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                             <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                           </svg>
                     </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
        </div>
    </div>
</div>

<div class="container">

    <div class="row mb-2">
        <div class="col-sm-12 col-md-9">

            <h4 class="font-weight-light h3">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg> Clientes
            </h4>
        </div>
        <div class="col-sm-12 col-md-3">
            <button class=" btn btn-info form-control" data-toggle="modal" data-target="#modalRegistroCli">
                 Registrar Cliente
                 <svg  width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
            </button>
        </div>
    </div>

    <div *ngIf="clientesFiltrados else todos">
        <div class="table-responsive-md ">
            <table class="table">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Nombre del Cliente</th>
                            <th scope="col">Correo eléctronico</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of clientesFiltrados">
                            <td class="text-center">{{c.nombre}} {{c.apellidos}}</td>
                            <td class="text-center">{{c.correo}}</td>
                            <td class="text-center">{{c.telefono}}</td>
                            <td class="text-center">
                                <button (click)="r(e.correo)" class="btn btn-sm ml-1 btn-info boton-responsivo" data-toggle="modal" data-target="#modalConsultar">Mas info</button>
                                <button class="btn btn-sm ml-1 btn-warning boton-responsivo" data-toggle="modal" data-target="#modalModificarEmp">Modificar</button>
                                <button class="btn btn-sm ml-1 btn-danger boton-responsivo" data-toggle="modal" data-target="#modalEliminar">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>
    <ng-template #todos>
        <div class="table-responsive-md ">
            <table class="table">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Nombre del Cliente</th>
                            <th scope="col">Correo eléctronico</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of clientes | async">
                            <td class="text-center">{{c.nombre}} {{c.apellidos}}</td>
                            <td class="text-center">{{c.correo}}</td>
                            <td class="text-center">{{c.telefono}}</td>
                            <td class="text-center">
                                <button (click)="r(e.correo)" class="btn btn-sm ml-1 btn-info boton-responsivo" data-toggle="modal" data-target="#modalConsultar">Mas info</button>
                                <button class="btn btn-sm ml-1 btn-warning boton-responsivo" data-toggle="modal" data-target="#modalModificarEmp">Modificar</button>
                                <button class="btn btn-sm ml-1 btn-danger boton-responsivo" data-toggle="modal" data-target="#modalEliminar">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </ng-template>
</div>

<!-- Modal para el registro -->
<div class="modal fade" id="modalRegistroCli" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header c-amarillo">
                <div class="mr-3">
                    <img src="" alt="">
                </div>
                <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Registro de Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reiniciarExito()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div *ngIf="exito == 1">
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        El cliente se registró <strong>correctamente!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="reiniciarExito()">
                           <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
                </div>
                <div *ngIf="exito == 2">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <strong>¡Error! </strong>El cliente no se registró
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="reiniciarExito()">
                           <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
                </div>
                <!-- Formulario registro de cliente -->
                <div class="mb-3">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
           </svg>
                    <b class="ml-2">Campos obligatorios</b>
                    <hr>
                </div>
                <p class="">
                    Nombre completo
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
                </p>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nombre(s)" (keypress)="soloLetras($event)" required maxlength='50' title='máximo 50 caracteres' [(ngModel)]="cliente.nombre">

                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Apellidos" (keypress)="soloLetras($event)" required maxlength='50' title='máximo 50 caracteres' [(ngModel)]=" cliente.apellidos ">
                    </div>
                </div>
                <br>
                <div class="form-row mt-2">
                    <div class="col-12">
                        <p class=" mt-1">Teléfono ó movil</p>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" placeholder="Ejem. 3333333333" maxlength="10" minlength="10" (keypress)="soloNumeros($event)" required title="máximo 10 caracteres" [(ngModel)]="cliente.telefono">
                    </div>
                    <div class="col-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                       </svg>
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-12">
                        <p class="">Correo eléctronico</p>
                    </div>
                    <div class="col-10">
                        <input type="email" class="form-control" placeholder="Ejem. cremeria@correo.com" required maxlength='50' title='minimo 50 caracteres' [(ngModel)]="cliente.correo">
                    </div>
                    <div class="col-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                       </svg>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-12">
                        <p class="">Contraseña</p>
                    </div>
                    <div class="col-10">
                        <input type="password" class="form-control" placeholder="Ingresa tu contraseña" required minlength='6' title='minimo 6 caracteres' [(ngModel)]="cliente.contrasenia">
                    </div>
                    <div class="col-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                       </svg>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Registrar</button>
                    <div id="spinnerReg"></div>
                </div>
                <!-- Termina Formulario registro de cliente-->
            </div>
        </div>
    </div>
</div>
<!-- Termina Modal para el registro -->