<main class="container animated fadeIn">

    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-12 col-md- col-lg-4">
                <img class="img-nosotros" src="../assets/img/mision.jpg" alt="">
            </div>
            <div class="col-sm-12 col-md- col-lg-8 contenedor-bordes">
                <h4 class="mt-3 text-center texto-titulo">Misión</h4>
                <p class="texto-info">Ser una empresa líder caracterizada por brindar calidad, excelencia y servicio a nuestros consumidores y sus negocios, mediante nuestra amplia variedad productos, nuestros precios accesibles y amabilidad de nuestros colaboradores.</p>

            </div>
        </div>

        <div class="row mt-4 flex">
            <div class="col-sm-12 col-md- col-lg-8 contenedor-bordes dos">
                <h4 class="mt-3 text-center texto-titulo">Visión</h4>
                <p class="texto-info">Posicionarnos como el principal proveedor de insumos de nuestra localidad, así como otorgar soluciones tecnológicas que facilitaran el trato con nuestros consumidores y llenaran de prosperidad su estilo de vida y negocios.</p>
            </div>
            <div class="col-sm-12 col-md- col-lg-4 uno mb-3">
                <img class="img-nosotros m-auto " src="../assets/img/vision.png" alt="">

            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-sm-12 col-md- col-lg-4">
                <img class="img-nosotros" src="../assets/img/valores.jpg" alt="">

            </div>
            <div class="col-sm-12 col-md- col-lg-8 contenedor-bordes">
                <h4 class="mt-3 text-center texto-titulo">Valores</h4>
                <p class="texto-info">En Cremería y abarrotes Liz estamos comprometidos a brindar una experiencia satisfactoria con nuestros clientes, así como ser conscientes con las problemáticas que conciernen a nuestra comunidad, todo mediante la ejercían de La honestidad,
                    el respeto y la fraternidad.</p>
            </div>
        </div>

    </div>

</main>