<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="container my-3 mb-5">
    <div class="row">
        <div class="col-2 pr-0">
        </div>
        <div class="col-sm-12 col-md-8 ">
            <div class="form-row">
                <div class="col-sm-11 pr-0">
                    <input type="text" name="buscador" class=" form-control buscador" (keyup)="buscarProvLike()" [(ngModel)]="proveedorB.nombre" placeholder="Buscar proveedor por nombre de agente o de proveedor">
                </div>
                <div class="col-sm-1 pl-0 ocultar">
                    <button class="btn p-1 btn-buscador" (click)="buscarProvLike()">
                        <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                          </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
        </div>
    </div>
</div>

<div class="container">

    <div class="row mb-2">
        <div class="col-sm-12 col-md-9">

            <h4 class="font-weight-light h3">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-badge-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                  </svg> Proveedores
            </h4>
        </div>
        <div class="col-sm-12 col-md-3">
            <div *ngIf="tipoEmp == 'Admin'">
                <button class=" btn btn-info form-control" data-toggle="modal" data-target="#modalRegistroProv">
                 Registrar Proveedor
                 <svg  width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
            </button>
            </div>
        </div>
    </div>

    <hr>
    <div *ngIf="proveedoresFiltrados else todos">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 mb-2" *ngFor="let prov of proveedoresFiltrados | paginate: { itemsPerPage: 3, currentPage: p }">
                <div class="card" style="width: 18rem; height: 24rem;">
                    <div class="text-center  borde-amarillo">
                        <img src="../assets/img/provImg.png" class="card-img-top" style="width: 5rem;" alt="...">
                    </div>
                    <div class="card-body bg-light">
                        <h5 class="card-title font-weight-normal">{{prov.nombreProveedor}} </h5>
                    </div>
                    <ul class="list-group list-group-flush c-amarillo">
                        <li class="list-group-item text-dark c-amarillo texto-info">Categoria: {{prov.categoria}} </li>
                        <li class="list-group-item  c-amarillo texto-info">Telefono: {{prov.telefono}}</li>
                    </ul>
                    <div class="card-body bg-light">
                        <div *ngIf="tipoEmp == 'Admin'; else noEsAdmin">
                            <button (click)="consultarProv(prov._id)" class="btn btn-sm ml-1 btn-info  boton-responsivo" data-toggle="modal" data-target="#modalConsultar">Mas info</button>
                            <button (click)="consultarProv(prov._id)" class="btn btn-sm ml-1 btn-warning    boton-responsivo" data-toggle="modal" data-target="#modalModificarProv">Modificar</button>
                            <button class="btn btn-sm ml-1 btn-danger boton-responsivo" data-toggle="modal" data-target="#modalEliminar" (click)="consultarProv(prov._id)">Eliminar</button>
                        </div>
                        <ng-template #noEsAdmin>
                            <button (click)="consultarProv(prov._id)" class="btn btn-sm ml-1 btn-info  boton-responsivo" data-toggle="modal" data-target="#modalConsultar">Mas info</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
    </div>

    <ng-template #todos>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 mb-2" *ngFor="let prov of proveedores | async | paginate: { itemsPerPage: 3, currentPage: p }">
                <div class="card" style="width: 18rem; height: 24rem;">
                    <div class="text-center  borde-amarillo">
                        <img src="../assets/img/provImg.png" class="card-img-top" style="width: 5rem;" alt="...">
                    </div>
                    <div class="card-body bg-light">
                        <h5 class="card-title font-weight-normal">{{prov.nombreProveedor}} </h5>
                    </div>
                    <ul class="list-group list-group-flush c-amarillo">
                        <li class="list-group-item text-dark c-amarillo texto-info">Categoria: {{prov.categoria}} </li>
                        <li class="list-group-item  c-amarillo texto-info">Telefono: {{prov.telefono}}</li>
                    </ul>
                    <div class="card-body bg-light">
                        <div *ngIf="tipoEmp == 'Admin'; else noEsAdmin">
                            <button (click)="consultarProv(prov._id)" class="btn btn-sm ml-1 btn-info  boton-responsivo" data-toggle="modal" data-target="#modalConsultar">Mas info</button>
                            <button (click)="consultarProv(prov._id)" class="btn btn-sm ml-1 btn-warning    boton-responsivo" data-toggle="modal" data-target="#modalModificarProv">Modificar</button>
                            <button class="btn btn-sm ml-1 btn-danger boton-responsivo" data-toggle="modal" data-target="#modalEliminar" (click)="consultarProv(prov._id)">Eliminar</button>
                        </div>
                        <ng-template #noEsAdmin>
                            <button (click)="consultarProv(prov._id)" class="btn btn-sm ml-1 btn-info  boton-responsivo" data-toggle="modal" data-target="#modalConsultar">Mas info</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
    </ng-template>
</div>


<!-- Modal para el registro -->
<div class="modal fade" id="modalRegistroProv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header c-amarillo">
                <div class="mr-3">
                </div>
                <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Registro de Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reiniciarExito()">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="exito == 1">
                    <div class="alert alert-success alert-dismissible fade show text-center texto-info" role="alert">
                        El proveedor se registró <strong>correctamente!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="reiniciarExito()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div *ngIf="exito == 2">
                    <div class="alert alert-danger alert-dismissible fade show text-center texto-info" role="alert">
                        <strong>¡Error! </strong>El proveedor no se registró
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="reiniciarExito()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                <b class="ml-2">Campos obligatorios</b>
                <hr>
                <!-- Formulario registro de proveedor -->
                <div class="form-row">
                    <div class="col-4">
                        <p class="text-center texto-info">Nombre del Proveedor</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="nombreProv" class="form-control" placeholder="Nombre(s)" maxlength="50" required title="maximo 50 caracteres" [(ngModel)]="proveedor.nombreProveedor">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Nombre del Agente</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="nombreAgente" class="form-control" placeholder="Nombre(s)" maxlength="50" required title="maximo 50 caracteres" [(ngModel)]="proveedor.nombreAgente">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                    </div>
                </div>

                <div class="form-row mt-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Teléfono</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="telefono" class="form-control" placeholder="Ejem. 3333333333" (keypress)="soloNumeros($event)" maxlength="10" minlength="10" required title="maximo 14 caracteres" [(ngModel)]="proveedor.telefono">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Horario</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="horario" class="form-control" placeholder="Ejem. lun-vie 00:00 - 00:00" required title="maximo 50 caracteres" [(ngModel)]="proveedor.horario">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                    </div>
                </div>

                <div class="form-row mt-2 mb-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Categoria</p>
                    </div>
                    <div class="col-7">
                        <select name="categoria" id="" class="form-control" [(ngModel)]="proveedor.categoria">
                            <option value="Alimentos">Alimentos</option>
                            <option value="Abarrotes">Abarrotes</option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" name="btnRegistrar" value="registrar" (click)="regProv()">Registrar</button>
                    <div id="spinnerReg"></div>
                </div>

                <!-- Termina Formulario registro de proveedor -->
            </div>
        </div>
    </div>
</div>
<!-- Termina Modal para el registro -->

<!-- Modal para modificar -->
<div class="modal fade" id="modalModificarProv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header c-amarillo">
                <div class="mr-3">
                </div>
                <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Modificar Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reiniciarExito()">
                   <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <div *ngIf="exito == 1">
                    <div class="alert alert-success alert-dismissible fade show text-center texto-info" role="alert">
                        El proveedor se actualizó <strong>correctamente!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="reiniciarExito()">
                           <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
                </div>
                <div *ngIf="exito == 2">
                    <div class="alert alert-danger alert-dismissible fade show text-center texto-info" role="alert">
                        <strong>¡Error! </strong>El proveedor no se actualizó
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="reiniciarExito()">
                           <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
                </div>

                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
                <b class="ml-2">Campos obligatorios</b>
                <hr>
                <!-- Formulario registro de proveedor -->
                <div class="form-row">
                    <div class="col-4">
                        <p class="text-center texto-info">Nombre del Proveedor</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="nombreProv" class="form-control" placeholder="Nombre(s)" maxlength="50" required title="maximo 50 caracteres" [(ngModel)]="proveedorM.nombreProveedor">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Nombre del Agente</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="nombreAgente" class="form-control" placeholder="Nombre(s)" maxlength="50" required title="maximo 50 caracteres" [(ngModel)]="proveedorM.nombreAgente">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
                    </div>
                </div>

                <div class="form-row mt-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Teléfono</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="telefono" class="form-control" placeholder="Ejem. 3333333333" (keypress)="soloNumeros($event)" maxlength="10" minlength="10" required title="maximo 14 caracteres" [(ngModel)]="proveedorM.telefono">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Horario</p>
                    </div>
                    <div class="col-7">
                        <input type="text" name="horario" class="form-control" placeholder="Ejem. lun-vie 00:00 - 00:00" required title="maximo 50 caracteres" [(ngModel)]="proveedorM.horario">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
                    </div>
                </div>

                <div class="form-row mt-2 mb-2">
                    <div class="col-4">
                        <p class="text-center texto-info">Categoria</p>
                    </div>
                    <div class="col-7">
                        <select name="categoria" id="" class="form-control" [(ngModel)]="proveedorM.categoria">
                             <option value="Alimentos">Alimentos</option>
                             <option value="Abarrotes">Abarrotes</option>
                         </select>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.553.553 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                   </svg>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" name="btnRegistrar" value="registrar" (click)="modificarProv()">Guardar cambios</button>
                    <div id="spinnerReg"></div>
                </div>

                <!-- Termina Formulario registro de proveedor -->
            </div>
        </div>
    </div>
</div>
<!-- Termina Modal para el registro -->

<!-- Modal para consultar información del proveedor -->
<div class="modal fade" id="modalConsultar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header c-amarillo">
                <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Más información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../assets/img/provImg.png" alt="" style="max-width: 100%; height: 13rem;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center h4 font-weight-light mt-1 texto-info">{{proveedorM.nombreProveedor}}</p>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p class="texto-info">
                            <img src="../assets/img/user.png" alt="Sueldo"> <b> Nombre del agente: </b> {{proveedorM.nombreAgente}}
                        </p>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p class="texto-info">
                            <img src="../assets/img/calendario.png" alt="teléfono"> <b> Horario: </b> {{proveedorM.horario}}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p class="texto-info">
                            <img src="../assets/img/categoria.png" alt="Sueldo"> <b> Categoria: </b> {{proveedorM.categoria}}
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p class="texto-info">
                            <img src="../assets/img/phone-inicio.png" alt="teléfono"> <b> Teléfono: </b> {{proveedorM.telefono}}

                        </p>
                        <a class="btn btn-info form-control mt-2" target="_blank" href="https://api.whatsapp.com/send?phone=52{{proveedorM.telefono}}">
                            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-telephone-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                              </svg> Enviar whatsapp
                        </a>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Cierra modal para consultar -->

<!-- Modal eliminar  -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header c-amarillo">
                <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Eliminar proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="com-sm-12 col-md-2 text-center">
                        <img src="../assets/img/provImg.png" alt="eliminar usuario" style="height: 72px; width: 72px;">
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <p class="mt-3 texto-info">¿Deseas eliminar a <b>{{proveedorM.nombreProveedor}}</b> de la base de datos?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="eliminarProv()" data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>
<!-- Cierra el modal eliminar -->