/* Utilidades */

.c-amarillo {
    background: #F9E79F;
}

.c-azul {
    background: #D5F5E3;
}

.texto-info {
    /* font-family: 'Abel', sans-serif; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
}

.texto-titulo {
    font-family: 'Tenor Sans', sans-serif;
}

.borde-amarillo {
    border-top: 8px solid #F1C40F;
}


/*Animaciones*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}