<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12 col-md-2">
            <p class="font-weight-light h4">
                <svg width="2.3em" height="2.3em" viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  </svg> Reportes
            </p>
        </div>
        <div class="col-sm-12 col-md-5 pr-0">
            <select type="text" name="buscador" class="form-control buscador mb-2" [(ngModel)]="filtro" (change)="actualizar()">
                <option class="mt-2" value="Todos">---Tipo de Pedido---</option>
                <option class="mt-2" value="Todos">Todos</option>
                <option class="mt-2" value="Completado">Completados</option>
                <option class="mt-2" value="Cancelado">Cancelados</option>
                <option class="mt-2" value="Pendiente">Pendientes</option>
            </select>
        </div>
        
        <div class="col-sm-12 col-md-4" *ngIf="isCheck else esFake">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-secondary btn-sm ml-3" (click)="changeStatus()">Cancelar</button>
                </div>
                <div class="col-md-8">
                    <input type="date" name="fecha" id="" class="form-control" [(ngModel)]="byDate" (change)="actualizar()">
                </div>
            </div>
        </div>
        <ng-template #esFake>
            <div class="col-sm-12 col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-info btn-sm ml-3" (click)="changeStatus()">por Fecha</button>
                    </div>
                    <div class="col-md-8">
                        <input type="date" name="fecha" id="data" class="form-control" disabled>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <hr class="mt-1">
</div>
<!-- alert -->
<div class="cointeiner" *ngIf="noPedidos == 0">
    <div class="container">
        <div class="animated fadeIn">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p class="texto-info text-center">No se encontraron reportes con esa Fecha</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- <div class="row" *ngFor="let ped of pedidos"> -->
        <div class="col-12 card mb-2 borde-amarillo">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <p class="text-info">Informacion del Reporte</p>
                    <hr>
                    <p><b>Numero Pedidos: </b>{{ noPedidos }}</p>
                    <p><b>Fecha de Expedicion: </b> {{ dateHoy | date: 'shortDate' }}  </p>
                    <p><b>Tipo de Reporte: </b> {{ tipo }} </p>
                    <p><b>Total: </b> {{ total }}</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p class="text-info">Más Información</p>
                    <hr>
                    <!-- <p><b>Periodo: </b>{{ped.cliente.nombre}} {{ped.cliente.apellidos}}</p>
                    <p><b>Correo eléctronico: </b>{{ped.cliente.correo}}</p>
                    <p><b>Teléfono: </b>{{ped.cliente.telefono}}</p> -->
                    <!-- <p><b>Periodo: </b> no data </p> -->
                    <p *ngIf ="isCheck else esFalso"><b>Desde el dia: </b> {{byDate}} </p>
                    <ng-template #esFalso>
                        <p><b>Desde el dia: </b> N/A </p>
                    </ng-template>
                    <p><b>Tipo de Pedido: </b> {{filtro}} </p>
                </div>
                <div class="col-sm-12 col-md-4 bg-white">
                    <p class="text-info">Acciones</p>
                    <hr>
                    <p class="mb-0">Descargar Reporte</p>
                    <div *ngIf="noPedidos >0 else empty">
                        <button class="btn btn-sm btn-info form-control mb-3" (click)="generarPDF()">Descargar</button>
                    </div>
                    
                    <ng-template #empty>
                        <div>
                            <button class="btn btn-sm btn-secondary form-control mb-3" disabled >Descargar</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>